.divpizza {
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 12%;
  }
  
 
  .inputError {
    border: 5px solid red;
  }
  
  .error {
    color: red;
    max-width: 300px;
    text-align: center;
    padding: 5px 0;
}